.OueBestSeller {
  width: 1101px;
  height: 100%;
  margin: 10px auto;
  text-align: center;
}

.OueBestSeller h4 {
  font-size: 20px;
  color: var(--black);
  font-weight: 600;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: var(--white);
  margin: 20px auto;
  
}

.swiper-slide img {
  height: 300px;
}
.swiper-slide  img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .title {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary);
  font-size: 16px;
  line-height: 140%;
  font-weight: bold;
}

.swiper-slide .description {
  font-size: 14px;
  line-height: 180%;
  color: var(--black);
}

.swiper-slide .category {
  font-size: 14px;
  line-height: 180%;
  color: var(--black);
}
.swiper-slide .price {
  text-align: center;
  font-size: 18px;
  line-height: 180%;
  color: var(--black);
}

.swiper .swiper-button-next, 
.swiper .swiper-button-prev {
  position: absolute;
  top: 169px;
  width: 25px;
  height: 43px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: var(--swiper-navigation-color,--black);
  background: #fff;
}

@media screen and (max-width: 768px) { 
  .OueBestSeller h1 {
    font-size: 24px;
    color: var(--black);
    font-weight: bold;
    line-height: 140%;
    display: block;
  }

  .OueBestSeller h4{
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-pagination {

    display: block;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 24px;
    height: 4px;
    background: var(--primary);
    border-radius: 0;
  }
}
@media screen and (min-width: 769px) { 

  .OueBestSeller h1 {
    display: none;
  }
  .OueBestSeller h4 {
    display: block;
  }
  .swiper-pagination {
    display: none;
  }
  .swiper-button-prev {
    display: block;
  }
  .swiper-button-next {
    display: block;
  }
}