#blog{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

  .blog-heading h4 {
    font-size: 24px;
    color: var(--black);
    font-weight:bold;
    line-height: 140%;
  }
  
  
  .blog-heading a { 
    color: var(--primary);
    position: absolute;
    right: 84px;
    font-size: 16px;
    line-height: 180%;
  }

.swiper {
  width: 1101px;
  height: 474px;
  margin: 20px auto;
  
}

.swiper-slide {
  background: var(--white);
  margin: 20px auto;

}

.blog-slide {
  background: #fff;
  max-width: 392px;
  height: 474px;
}
.swiper-slide .blog-img {
  max-width: 392px;
}
.swiper-slide .blog-img img {
width: 100%;
height: 100%;
}

.swiper-slide .blog-details{
padding: 10px;
display: flex;
flex-direction: column;
max-width: 392px;
}

.swiper-slide .blog-details .blog-title{ 
font-size: 20px;
font-weight: bold;
color: var(--black);
line-height: 140%;
}

.swiper-slide.blog-details .blog-title:hover{ 
color: var(--primary);
transition: all ease 0.3s;  
}
.swiper-slide .blog-details a {
color: var(--black);
text-decoration: none;
}

.swiper-slide .blog-details a:hover {
color: var(--primary-300);
transition: all ease 0.3s;
}
.swiper-slide .blog-details span {
color: var(--gray-606060);
font-size: 14px;
margin: 4px 0px;
}  

.swiper-slide .blog-details p {
  color: var(--black);
  font-size: 16px;
  margin: 10px 0px;
  line-height: 180%;
}

  @media screen and (max-width: 768px) {
    #blog {
      height: 544px;
      width: 342px;
      align-items: center;
    }

    .blog-heading h1 {
      font-size: 24px;
      color: var(--black);
      font-weight: bold;
      line-height: 140%;
      display: block;
    }

    .blog-heading h4{
      display: none;
    }

    .blog-heading a { 
      color: var(--primary);
      position: absolute;
      right: 146px;
      bottom: 186px;
      font-size: 16px;
      }
      .swiper {
        width: 320px;
        height: 430px;
      }
      
      .blog-slide {
        background: #fff;
        max-width: 320px;
        height: 474px;
      }
      
      .swiper-slide .blog-img {
        max-width: 320px;
        height: 240px;
      }
      
      .swiper-slide .blog-details {
        padding: 10px;
        display: flex;
        flex-direction: column;
        max-width: 320px;
        height: 121px;
      }
      .swiper-pagination {

        display: block;
      }
      .swiper-pagination .swiper-pagination-bullet {
        width: 24px;
        height: 4px;
        background: var(--primary);
        border-radius: 0;
      }
}
  @media screen and (min-width: 769px) { 

    .blog-heading h1 {
      display: none;
    }
    .blog-heading h4 {
      display: block;
    }
    .swiper-pagination {
      display: none;
    }
    .carousel .blog-box:nth-child(n+4) {
      display: none;
    }


    }