@font-face {
  font-family: 'open_sansbold';
  src: url('/fonts/OpenSans-Bold-webfont.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('/fonts/OpenSans-Regular-webfont.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('/fonts/OpenSans-Semibold-webfont.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

 
  .Disply-1{
    font-family: 'open_sansbold';
    font-size: 64px;
    letter-spacing: 0;
    line-height: 140%;
  }
  
  .Disply-2 {
    font-family: 'open_sansbold';
    font-size: 56px;
    letter-spacing: 0;
    line-height: 120%;
  }

  h1 {
    font-family: 'open_sansbold';
    font-size: 44px;
    letter-spacing: 0;
    line-height: 140%;
  }

  h2 {
    font-family: 'open_sansbold';
    font-size: 40px;
    letter-spacing: 0;
    line-height: 140%;
  }

  h3 {
    font-family: 'open_sansbold';
    font-size: 32px;
    letter-spacing: 0;
    line-height: 140%;
  }

  h4 {
    font-family: 'open_sansbold';
    font-size: 24px;
    letter-spacing: 0;
    line-height: 140%;
  }

  h5 {
    font-family: 'open_sansbold';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 140%;
  }

  h6 {
    font-family: 'open_sansbold';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 140%;
  }

  .Body-XL {
    font-family: 'open_sansregular';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 180%;
  }

  
  .Body-LG {
    font-family: 'open_sansregular';
    font-size: 18px;
    letter-spacing: 0;
    line-height: 180%;
  }

  .Body-MD {
    font-family: 'open_sansregular';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 180%;
  }

  .Body-SM {
    font-family: 'open_sansregular';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 180%;
  }

  .Body-XS {
    font-family: 'open_sansregular';
    font-size: 12px;
    letter-spacing: 0;
    line-height: 180%;
  }
  
  .Caption-md {
    font-family: 'open_sansregular';
    font-size: 12px;
    letter-spacing: 0;
    line-height: 180%;
  }

  .Caption-lg {
    font-family: 'open_sanssemibold';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 140%;
  }

  .Caption-sm {
    font-family: 'open_sanssemibold';
    font-size: 10px;
    letter-spacing: 0;
    line-height: 180%;
  }

  .Button-LG {
    font-family: 'open_sansregular';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 140%;
  }

  .Button-SM {
    font-family: 'open_sansregular';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 180%;
  }

  .Overline-LG {
    font-family: 'open_sansregular';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24%;
  }

  .Overline-Sm {
    font-family: 'open_sanssemibold';
    font-size: 12px;
    letter-spacing: 0.8;
    line-height: Auto;
  }