<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
  <section class="Footer">
    <!--Value Proposition -->
    <div class="Top_Icons">
      <div class="Icon">
        <img src="/images/Rabbit_icon.svg"  alt="">
          <div class="Text">No tests on animals</div>
      </div>
      <div class="Icon">
        <img src="/images/Leaf_icon.svg" alt="">
         <div class="Text">No animal-derived ingredients</div>
      </div>
      <div class="Icon">
        <img src="/images/Wheat_icon.svg" alt="">
          <div class="Text">No gluten, or gluten byproducts</div>
      </div>
      <div class="Icon">
        <img src="/images/Lamp_icon.svg" alt="">
          <div class="Text">Recyclable packaging</div>
      </div>
    </div>
    <!-- footer item -->
  <div class="footer-row">
    <div class="Left_Footer">
    <div class="footer-col">
      <h4>How can we Help?</h4>
      <ul class="links">
        <li><a href="#">find My Local Beautya</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Our Brand</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </div>
  <div class="Center_Footer">
    <div class="footer-col">
      <h4>Products</h4>
      <ul class="links">
        <li><a href="#">Women Make up</a></li>
        <li><a href="#">Women Skincare</a></li>
        <li><a href="#">Gifts & Sets</a></li>
      </ul>
    </div>
    </div>
    <div class="Right_Footer">
    <div class="footer-col">
      <h4>keep in touch with beautya</h4>
      <p>
        Join the Beautya newsletter and be
        first to hear about news, offers and skincare advice
      </p>
      <form class="email-inputs">
        <input type="email" name="emailInput"  class="emailInput" placeholder="Email Address" required>
        <div class="email-checkbox">
          <input type="checkbox" name="checkboxInput" class="checkboxInput" required>
          <p> By submitting your email, you agree to receive advertising emails from Beautya. Please review our Privacy Policy, which includes our Financial Incentive Notice for CA residents. </p>
        </div>
        <button class="main-btn" type="submit"> 
          <a href="#" > Subscribe </a>
        </button>
      </form> 
    </div>
  </div>
  </div>

    <!-- Social Media And  ContactUs-->
    <section class="SocialmediaANDContactUs">
      <div class="SocialMediaIcons">
        <div class="IconButton">         
          <a href="#">
            <img src="/images/Instagram.svg" alt="">
          </a>
        </div>
        <div class="IconButton">
          <a href="#">
            <img src="/images/Facebook.svg" alt="">
          </a> 
        </div>
        <div class="IconButton">
          <a href="#">
             <img src="/images/Twitter.svg" alt="">
          </a>
        </div>
        <div class="IconButton">
          <a href="#">
            <img src="/images/Pinterest.svg" alt="">
          </a>
        </div>
        <div class="IconButton">
          <a href="#">
            <img src="/images/Reddit.svg" alt="">
          </a>
        </div>
        <div class="IconButton">
          <a href="#">
            <img src="/images/Tiktok.svg" alt="">
          </a>
        </div>
      </div>
      <div class="ContactUs">
        <div class="Call">  
          <img src="/images/Call.svg" alt="">
          <div class="Text_ContactUs">1-802-526-2463</div>
        </div>
        <div class="ContactUs_line"></div>
        <div class="location">
          <img src="/images/location.svg" alt="">
          <div class="Text_ContactUs">Dr. Richardson, California</div>
        </div>
      </div>
    </section> 
    <!-- Copy Right --> 
    <section class="CopyRight">
      <div class="Copyright_Text">2023 Beautya. All Rights Reserved.</div>
      <div class="TermsAndPrivacy" style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
        <div class="TermsAndPrivacy_Text">Terms & Conditions</div>
        <div class="TermsAndPrivacy_Text">Privacy Policy</div>
      </div>
    </section>

</section>

</body>
</html>





