<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--CDN Swiper CSS -->
        <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
        <!-- CSS -->
        <link rel="stylesheet" href="/css/best.css">
</head>

<body>
  <section class="NewIn">
    <h4>New in</h4>
    <h1>New in</h1>
       <!--  Carousel -->
               <!-- carousel  -->
               <div class="container swiper">
                <div class="slide-container">
                  <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                       <!-- products -->
                      <div class="products"></div>
                    </div>
                    </div>
                  </div>
                </div>
                 <!-- buttons -->
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div class="swiper-pagination"></div>
  </section>
  
  <!--CDN Swiper js -->
  <script src="/js/swiper-bundle.min.js"></script>
  <script src="/js/NewIn.js"></script>
</body>
</html>

