<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
<section class="Virtual_Skincare_Analysis">
    <div class="Analysis">
      <div class="Analysis_text">
        <h2> NEW Virtual Skincare Analysis</h2>
          <p>Looking for a Full Skincare Routine? Our NEW
            Virtual Skincare Analysis Tool Evaluates Your Skin And Provides 
            The Most Personalized Recommendations.</p>
        <span>Scan With Your Phone To Get Started</span>
        <p>Or</p>     
        <a href="#">Answer A Few Questions</a>
      </div>
    <img src="/images/qrcode.png" class="Analysis_Qrcode">
    <img src="/images/introduction.png" class="Analysis_Image">
      </div>
    </div>
  </section>

</body>
</html>




