<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/blog.css">
       <!--CDN Swiper CSS -->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- fav-icon -->
    <link rel="shortcut icon" href="">
</head>

<body>
  <!-- Blog  -->
  <section id="blog">
    <!-- blog heading -->
    <div class="blog-heading">
      <h1>Our Blog</h1>
      <h4>Our Blog</h4>
      <a href="#">view all</a>
    </div>
    <!-- blog slider -->
    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- blog 1 -->
        <div class="blog-slide swiper-slide">
          <div class="blog-img">
            <img src="/images/blogimage1.png" alt="Blog">
          </div>
          <div class="blog-details">
            <a href="#" class="blog-title">How to get clear skin fast</a> 
            <span>Skincare / Dr. Wade Warren / Jan 20, 2021</span>
            <p>Many people find it difficult to get clear skin. The methods for getting clear skin will vary...</p>
          </div>
        </div>
        <!-- blog 2 -->
        <div class="blog-slide swiper-slide">
          <div class="blog-img">
            <img src="/images/blogimage2.png" alt="Blog">
          </div>
          <div class="blog-details">
            <a href="#" class="blog-title">How to get clear skin fast</a> 
            <span>Skincare / Dr. Wade Warren / Jan 20, 2021</span>
            <p>Many people find it difficult to get clear skin. The methods for getting clear skin will vary...</p>
          </div>
        </div>
        <!-- blog 3 -->
        <div class="blog-slide swiper-slide">
          <div class="blog-img">
            <img src="/images/blogimage3.png" alt="Blog">
          </div>
          <div class="blog-details">
            <a href="#" class="blog-title">How to get clear skin fast</a> 
            <span>Skincare / Dr. Wade Warren / Jan 20, 2021</span>
            <p>Many people find it difficult to get clear skin. The methods for getting clear skin will vary...</p>
          </div>
        </div>
        
      </div>
       <!-- pagination -->
    <div class="swiper-pagination"></div>
    </div>
  </section>

<!--CDN Swiper js -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/js/OurBlog.js"></script>
</body>
</html>
