<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <section class="Our_Brand">
    <div class="About_Brand">
      <div class="Brand_text">
        <h2> Our Brand</h2>
          <p>We Belive That Beauty Thrives In Diversity And Discovery. Our Purpose Is To
            Expand The Way The World Sees Beauty By Empowering The Extraordinary In
            Each Of Us.
          </p> 
        <a href="#">Discover More</a>
      </div>
    <img src="/images/ourbrand.png" class="Brand_Image">
      </div>
  </section>
</html>

<p></p>