<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Swiper demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/css/best.css">
</head>

<body>
  <section class="OueBestSeller">
    <h1>Our Best Seller</h1>
    <h4> Our Best Seller</h4>
  <!-- Swiper -->
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="products"></div>
      </div>
    </div>
     <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  </section>
<!--<section class="NewIn">
  <h4>New in</h4>
  <h1>New in</h1>
  <!-- Swiper 
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="new swiper-slide">
        <div class="products"></div>
      </div>
    </div>
     <!-- If we need pagination -
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons 
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -
  <div class="swiper-scrollbar"></div>
  </div>
</section>-->
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/js/OurBestSeller.js"></script>
</body>

</html>



