<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 class="ProductsCategories_Title">Products’ categories</h1>

<section class="Products_Categorie">
    <div class="Producte_Cat">
      <img class="Product_Image_Cat" src="/images/Productcat1.png" alt="">
        <a href="#" class="Product_Name_Cat">women make up</a>
    </div>
    <div class="Producte_Cat">
      <img class="Product_Image_Cat" src="/images/Productcat2.png" alt="">
        <a href="#" class="Product_Name_Cat">women skincare</a>
    </div>
    <div class="Producte_Cat">
      <img class="Product_Image_Cat" src="/images/Productcat3.png" alt="">
      <a href="#" class="Product_Name_Cat">Gifts & sets</a>
    </div>
</section>
</body>
</html>

