<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body>
    <div class="container-slider">
      <div class="slider">
        <div class="slider-item active">
          <img src="/images/BannerImage1.png" class="img-slider" />
         <span id="slider_text"> Unlock Your Natural Glow 1</span>
         <button id="slider_btn"><a href="#" class="a"> Know More 1 </a></button>
        </div>
        <button type="button" class="prev" ><i class="icofont icofont-ui-previous"></i></button>
        <button type="button" class="next" ><i class="icofont icofont-ui-next"></i></button>
      </div>
    </div>
    <br />
    <div style="text-align: center;">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <script src="/js/Slider.js"></script>
  </body>
</html>
