<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <section class="Special_Offers_Banner">
    <div class="Special_Offers">
      <img src="/images/SpecialOffers.png">
      <div class="Special_Offers_text">
        <h2> 
          <span>Special offers</span> 
          <br>
         <span >Save up to 50%</span>
         </h2>
         <p>Mother’s Day is coming! <br/>For everything she’s given you, it's time to give back. Shower her with love, happiness, and the best of Beautya. </p>
         <p>visit your local beautya branches to find out more about our special offers in make up and skincare products. </p>
        <a href="#">Find Branches</a>
      </div>
      </div>
  </section>
</body>
</html>
